body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  direction: rtl;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.container p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.quiz-container {
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

#answers button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.hidden {
  display: none;
}